* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

    /*
    +--------+
    | HEADER |
    +--------+
    */

nav {
    background-color: #161827;
    padding: 0.6em 1em 0.6em 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logo {
    width: 11%;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
}

nav a {
    margin-left: 0.6em;
    text-decoration: none;
    font-size: 1em;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: white;
    position: relative;
}

nav li:last-of-type i {
    margin-right: 0.2em;
}

    /*
    +--------------------------+
    | animation_soulignage_nav |
    +--------------------------+
    */

nav a::after {
    content: "";
    position: absolute;
    bottom: -0.5em;
    left: 0;
    width: 100%;
    border-bottom: 2px solid white;
    opacity: 0;
    transform: scaleX(0);
    transition: transform 400ms 200ms;
}

/*Je fais apparaitre la ligne*/
nav a:hover::after {
    opacity: 1;
    transform: scaleX(1);
}

nav li {
    transform: scale(1);
    transition: transform 400ms ease-in;
}
nav li:hover {
    transform: scale(1.05);
}

#banniere_publicitaire {
    position: relative;
    display:flex;
    align-items: center;
}

#banniere_publicitaire img {
    width: 100%;
}


#banniere_publicitaire p {
    z-index: 1;
    position: absolute;
    color: white;
    padding-left: 45%;
    font-size: 6.5em;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing:0.08em;
    line-height : 1.2em;
    text-shadow: 1px 1px 5px #000000;
}

article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

h1 {
    width :100%;
    background-color: blue;
}

section {
    width : 20%;
}

section img{
    width: 90%;
}