/*
    +---------+
    | Général |
    +---------+
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #161827;
}

h1 {
    width: 70%;
    padding-bottom: 0.3em;
    border-bottom: 1.5px solid #161827;
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-family: "Merriweather", sans-serif;
    font-size: 2em;
}


h2 i {
    color: #fbf9f9; margin-right: 0.4em;
}

h2 {
    color: #fbf9f9;
    background-color: #161827;
    font-family: "Merriweather", sans-serif;
    font-weight: 500;
    font-size: 1.6em;
    border-left: 2px solid #fbf9f9;
    padding: 0.3em 0.3em 0.3em 0.6em;
    margin-bottom: 2em;
}

h3  {
    font-family: "Merriweather", sans-serif;
    font-weight: 900;
    font-size: 1.3em;
}

h4 {
    font-size: 2.2em;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-right: 1em;
}



p, select, input {
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    opacity: 0.8;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#produit_panier {
    width: 70%;
    background-color: #fbf9f9;
    margin: 2em;
    margin-bottom: 4em;
    padding: 2em;
    box-shadow: 0.1em 0.1em 0.5em grey;
}

/*
    +------------------------+
    | bandeau_tableau_panier |
    +------------------------+
*/

#panier_titres {
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
}

#panier_titres h2:first-of-type {
    width: 60%;
    border-left: none;
}

h2:nth-of-type(2) {
    width: 30%;
}

h2:nth-of-type(3) {
    width: 10%;
}

/*
    +----------------+
    | Si_panier_vide |
    +----------------+
*/

#panier_vide {
    font-family: "Lato", sans-serif;
    font-size: 2.2em;
    width: 100%;
    text-align: center;
    margin-bottom: 2em;
}

/*
    +-------------------------------+
    | Contenu_tableau_recapitulatif |
    +-------------------------------+
*/

.ours_panier--selectionne {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid gainsboro;
    margin-bottom: 1em;
    padding-top: 1em;
    padding-bottom: 2em;
}

.ours_panier--selectionne:last-of-type {
    border-bottom: 3px solid #161827;
    margin-bottom: 0.5em;
}

#ours_panier img {
    width: 25%;
}

.nom_id_ours {
    width: 35%;
    display: flex;
    flex-direction: column;
    padding-left: 1em;
}

.nom_id_ours p{
    padding-left: 0.5em;
    letter-spacing: 0.02em;
}


.nom_ours, .id_ours {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 0.5em;
}

.couleur_ours {
    width: 30%;
}

/*on indique visuellement que le menu déroulant n'est pas cliquable*/

.couleur_ours select {
    padding: 0.2em 0.5em 0.2em 0.2em;
    border: dotted 2px gainsboro;
    font-size: 1.1em;
    line-height: 1.5;
    opacity: 0.5;
}

.prix {
    width: 10%;
    text-align: right;
    font-family: "Merriweather", sans-serif;
    font-weight: 900;
    font-size: 1.5em;
}

/*
    +-------+
    | TOTAL |
    +-------+
*/

#prix_total {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
    text-align: right;
    margin-bottom: 4em;
}

#prix_total strong{
    font-size: 2em;
    font-family: "Merriweather", sans-serif;
    font-weight: 900;
}

/*
    +------------+
    | Formulaire |
    +------------+
*/

#formulaire {
    width: 65%;
    border-top-right-radius: 3em;
    background-color: #fbf9f9;
    margin: 2em 2.5em 2em 2.5em;
    padding: 2em;
    box-shadow: 0.1em 0.1em 0.5em grey;
}

#formulaire div {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

label {
    font-family: "Merriweather", sans-serif;
    font-weight: 900;
    font-size: 1em;
    opacity: 0.8;
    margin-bottom:0.4em;
}

#formulaire input {
    font-size: 1.5em;
    border: none;
    border-bottom: solid 2px #161827;
    background-color: #fbf9f9;
    padding: 0.5em;
 
}

#formulaire input:focus {
    outline: none;
}

/*
    +-------------------+
    | Formulaire_bouton |
    +-------------------+
*/

/*comportement par défaut*/

button {
    outline: none;
    color: white;
    width: 22%;
    text-decoration: none;
    border: none;
    background-color: #006a5d;
    font-size: 1.2em;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border-radius: 1em;
    padding: 0.4em;
    opacity: 0.8;
    margin: 2% 0% 2% 78%;
    box-shadow: 0.05em 0.05em 0.1em grey;
    transform: scale(1);
    transition: transform 200ms;
}

/*animation par défaut*/

button:hover {
    outline: none;
    color: white;
    opacity: 1;
    outline: none;
    transform: scale(1.01);
}

/*on affiche bonhomme content dans le champ quand ce dernier est valide*/

.champ_valid {
    color: #006a5d;
    background-image: url('../img/coche.svg');
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 1.4em;
}

/*on affiche bonhomme mécontent dans le champ quand ce dernier est invalide*/

.champ_invalid {
    color: #e46c0d;
    background-image: url('../img/coche_non.svg');
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 1.4em;
}

/*si le formulaire est entièrement BON, le bouton devient alors vert plus clair*/

.bon_bouton {
    background-color: green;
}

.bon_bouton:hover {
    background-color: green;
}

/*si le formulaire n'est PAS entièrement BON, le bouton devient alors orange*/

.erreur_bouton {
    background-color: #e46c0d !important;
}

/*animation wiggle au survol quand le bouton est orange à cause des champs invalides*/

.erreur_bouton:hover {
    background-color: #e46c0d !important;
    -webkit-animation: wiggle 0.08s;
    -webkit-animation-iteration-count: 3;
}

@-webkit-keyframes wiggle {
    0% {
        -webkit-transform: rotate(2deg);
    }

    35% {
        -webkit-transform: rotate(0deg);
    }

    65% {
        -webkit-transform: rotate(-2deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
    }
}
